<h4>About Us</h4>

<p>The purpose of this website is to encourage gun law reform to reduce the availability of guns in civilian areas of society.</p>

<p>This site focuses on the following jurisdictions:</p>
<ul>
<li>United States</li>
<li>Mexico</li>
<li>South Africa</li>
<li>Australia</li>
</ul>

<p>The aim is to encourage long term gun law and policy reform in these jurisdictions.</p>

<p>This site is not aligned to any political party, organisation or institution.</p>