<p>This website supports advocacy for gun law reform to reduce the availability of guns in civilian areas of society.</p>

<p>This site focuses on the following jurisdictions:</p>
<ul>
<li>United States</li>
<li>Mexico</li>
<li>South Africa</li>
<li>Australia</li>
</ul>

<p>The aim is to encourage long term gun law and policy reform in these jurisdictions.</p> 

<p>This site uses automated campaign, communications and public affairs tools and features to support gun control advocates (across all levels and jurisdictions). The site is powered by a secure database containing details of politicians, funding, US states' gun control status, and lobby groups (in favour or against gun control).</p>

<p>We would welcome your involvement! Get in touch, or join our mailing list.</p>

<p><strong>This site is not aligned to any political party, organisation or institution.</strong></p>

<%# 
TO DO
- add social media integration: twitter, fb, add email to mailing list 
- link to joining mailing list
%>