<p>This is the campaign engine, to generate political and public awareness of the need for gun law reform.</p>

<%# 
TO DO
- tailored options for the user's state, including boilerplate emails, letters, social media posts
- rallies/protests etc. the user can join in their state
- generate tweets directed at user state politicians that are receiving NRA money
%>