<h4>Donations</h4>

<%# 
TO DO
- add ability for user to donate directly to gun law reform groups in the US
- groups can be suggested based on the user's state
- donations in multiple currencies including cryptos
%>