<p>On this page you can donate to verified gun law reform lobbying groups.</p>

<%# 
TO DO
- add ability for user to donate directly to gun law reform groups in the US
- groups can be suggested based on the user's state
- donations in multiple currencies including cryptos
%>