<div class="row">
    <div class="col-sm">
<h1></h1>
</div>
</div>

<div class="row">
<div class="col-sm">


<div class="row">
  <div class="col-sm">
    One of three columns
  </div>
  <div class="col-sm">
    One of three columns
  </div>
  <div class="col-sm">
    One of three columns
  </div>
</div>