<% if @current_user.present? %>
  Welcome back <%= @current_user.email %>
<% end %>

<p>This site has been built to support gun control and law reform efforts in the USA, Australia and South Africa.</p>

<%= image_tag("march_image.jpg", :class => "mainpic") %>

<% if @var_selected != nil%>
<p>The politician you are tracking is: <%= @var_selected %></p>
<% end %>