<p>Enter the name of a US Federal politician (House of Representatives) you would like to track.</p>

<main class="flex">
    <form class="column" method="get" action="/pages/display_selection">
        <p class="formpara">
        <label>First name:</label>
        <input input class="right" type="text" name="name1" placeholder="e.g. Paul"><br />
        </p>
        <p class="formpara">
        <label>Second name:</label>
        <input input class="right" type="text" name="name2" placeholder="e.g. Ryan">
        </p>
        <button>Update tracked politician.</button>
    </form>
</main>
