<h1>Use this form to select a politican to track</h1>

<form method="get" action="/pages/display_selection">
    <label>First name:</label>
    <input type="text" name="name1" placeholder="Politician name"><br />
    <label>Second name:</label>
    <input type="text" name="name2" placeholder="Politician name">
    <br />
    <button>Update tracked politician</button>
</form>
