<p>This is the donations data visualiser.</p>

<%# 
TO DO
- obtain campaign finance data using an API
- visualise NRA donations to all politicians for user State
- visualise historical donations data for user's chosen politician
%>