<p>This is the funding data visualiser and database explorer.</p>

<%# 
TO DO
- obtain campaign finance data using an API
- visualise NRA donations to all politicians for user State
- visualise historical donations data for user's chosen politician
- allow the user to perform functions on the site database of politicians, and if not visualising the data, then display in a table
%>