// Variables
$brand-color: lightgrey;

// Mixins
@mixin coloredBG {
    background-color: $brand-color;
}

@mixin greyItalic {
    color: grey;
    font-style: italic;
}

body {
    @include coloredBG;
}

h1 {
    text-align: left;
}

main {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.2em;
}

a {
    color: rgb(27, 31, 248);
}

nav {
    list-style: none;
    margin: 0 5px;
    padding: 10px;
    display: flex;
    background-color: rgb(223, 221, 221);
    justify-content: space-around;
    border-radius: 25px;
    font-family: 'Port Lligat Slab', serif;
}

button {
    margin-top: 20px;
    width: 50%;
}

input:focus {
    background-color: rgb(217, 242, 250);
}

input:not([type="submit"]) {
    width: 19em;
}

input {
    max-width: 95%;
}

label {
    margin-right: 0.1em;
    display: inline-block;
    text-align: right;
    float: left;
    width: 111px;
}

.post {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 3em;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 1em;
    border-bottom: 1px solid black;
    border-radius: 0.5em;

    h2 {
        font-style: italic;
        color: $brand-color;
    }

    h3.author {
        text-align: right;
    }

    .content {
        border: 1px solid $brand-color;
        font-size: 120%;
        letter-spacing: 1px;
        padding: 1em;
        border-radius: 0.5em;
    }
}

.mainpic {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notification {
    border: 5px solid black;
    border-radius: 0.5em;
    text-align: left;
    background-color: rgba(255,255,255,0.8);
}

.error {
    @extend .notification;
    color: red;
}

.persistent {
    text-shadow: 2px 2px 2px #aaa;
}

.success {
    @extend .notification;
    color: blue;
    border-color: blue;
}

.loggy {
    margin-right: 0px;
    text-align: right;
    font-size: 80%;
}

.container {
    max-width: 960px;
}

.formpara {
    margin: 0.15em;
}

.cover_font {
    font-family: 'Sunshiney', cursive;
    font-size: 2.5em;
}

.scroller {
    font-family: 'Port Lligat Slab', serif;
    margin-top: 40px;
    font-size: 30px;
    color: black;
}

.label_signup {
    margin-right: 0.1em;
    display: inline-block;
    text-align: right;
    float: left;
    width: 190px;
}

.label_remember {
    width: 130px;
}

.input_checkbox {
    max-width: 30px;
    align-content: left;
}

.boxstyle {
    width: 19em;
    display: inline-block;
    margin-top: 2px;
    margin-left: 8px;
}

.flex {
    display: flex;
    border-radius: 5px;
    padding: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}