// Variables
$brand-color: lightgrey;

// Mixins (like functions)
@mixin coloredBG {
    background-color: $brand-color;
}

@mixin greyItalic {
    color: grey;
    font-style: italic;
}

body {
    @include coloredBG
}

h1 {
    text-align: left;
}
  
.container {
    max-width: 960px;
    // margin: 0 auto;
}

a {
    color: rgb(27, 31, 248);
}

.mainpic {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notification {
    border: 5px solid black;
    border-radius: 0.5em;
    text-align: left;
    background-color: rgba(255,255,255,0.8);
}

.error {
    @extend .notification;
    color: red;
}
.success {
    @extend .notification;
    color: blue;
    border-color: blue;
}

.loggy {
    margin-right: 0px;
    text-align: right;
    font-size: 80%;
}

.post {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 3em;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 1em;
    border-bottom: 1px solid black;
    border-radius: 0.5em;

    h2 {
        font-style: italic;
        color: $brand-color;
    }

    h3.author {
        text-align: right;
    }

    .content {
        border: 1px solid $brand-color;
        font-size: 120%;
        letter-spacing: 1px;
        padding: 1em;
        border-radius: 0.5em;
    }
}

nav {
    list-style: none;
    margin: 0 5px;
    padding: 10px;
    display: flex;
    background-color: rgb(223, 221, 221);
    justify-content: space-around;
    border-radius: 25px;
    font-family: 'Port Lligat Slab', serif;
}

button {
    margin-top: 20px;
}

.cover_font {
    font-family: 'Sunshiney', cursive;
    font-size: 2.5em;
}

.scroller {
    font-family: 'Port Lligat Slab', serif;
    margin-top: 40px;
    font-size: 30px;
    color: black;
}

input:focus {
    background-color: rgb(217, 242, 250);
}